@import "styles/box";

.red {
    color: #993333 !important;
}

.normal {
    color: $box-table-header-text-color !important;
}

.pale {
    color: #add8ee !important;
}

.no-mediaqueries, .no-flexbox {
    .browser-warning {
        color: red;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }
    .no-browser-warning {
        display: none;
    }
}

.mediaqueries.flexbox {
    .browser-warning {
        display: none;
    }
    .no-browser-warning {
        display: block;
    }
}
